<% @dishes.each do |dish| %>
  <h2><%= link_to dish.name, dish_path(dish) %></h2>
  <p><%= dish.type %> - <%= dish.price %></p>
  <%= link_to "Delete", restaurant_path(restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
